body {
  overflow-x: hidden;
}

.container {
  margin-top: 100px;
}

.container>.row {
  margin-top: 50px;
}

.banner {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.card {
  padding: 25px;
}

.card-img {
  display: block;
  margin: 15px auto;
  width: 100%
}

.card-title {
  font-size: 130%;
  font-weight: bold;
}

.card-subtitle {
  font-size: 90%;
  font-style: italic;
}

.card>.card-text>p {
  height: 50px;
  overflow-y: scroll;
}

.card .btn {
  display: block;
  width: 80%;
  margin: 15px auto;
}

.post-img {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tweet {
  margin-top: 60px;
}

.date, .handle {
  color: gray;
  position: absolute;
  top: 20px;
  left: 20px;
}

.handle {
  top: 40px;
}

.small-margin {
  margin-top: 25px;
}

footer {
  background-color: #343a40!important;
  margin-top: 100px;
}

footer p {
  color: rgba(255, 255, 255, 0.75);
  padding: 15px;
}
