{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block app_content %}
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="http://placehold.it/250x250" alt="Placeholder" class="card-img">
        <div class="card-title">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="card-subtitle">@ {{ user.username }}</div>
        <div class="card-text">
            <p>{{ user.bio }}</p>
        </div>
        <button class="btn btn-primary">Follow</button>
      </div>
    </div> <!-- ends col 4 for profile info -->

    <div class="col-md-8">
      {% if user.username == current_user.username %}
        <div class="card">
          {{ wtf.quick_form(form) }}
        </div>
      {% endif %}

      {% for post in user.posts[::-1] %}
        <div class="card small-margin">
          <img src="http://placehold.it/25x25" alt="Profile Pic" class="post-img">
          <div class="card-title tweet">{{ post.tweet }}</div>
          <div class="card-subtitle date">{{ post.date_posted.date() }}</div>
          <div class="card-subtitle handle">{{ user.username }}</div>
        </div>
      {% endfor %}

    </div> <!-- ends col 8 for posts section -->

  </div> <!-- ends row for info and posts -->
{% endblock %}
